<!doctype.html>
<html>
    <head>
    
       <title>About Me</title>
        <link href="../public/styling/style1.css" rel="stylesheet">
        
    </head>

    <body>
        <nav-directive></nav-directive>

          <h1 style="color:#fff">Welcome to the about me section!!!</h1>
        
           <div class="row">
               
              <div class="col-md-6">
                  <div class="thumbnail">
                     <img src="../images/ME.jpg">
                      <h1>Akash Gupta</h1>
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.


There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                  
                   </div>
               
                </div>
               
                 <div class="col-md-6" id="techDetails">
                     <div id="education">
                    <ul class="list-group">
                         <li class="list-group-item" data-toggle="collapse" data-target="#demo">
                             <span>Education</span>
                             <img src="../images/education.png" class="techImage">
                                  <div id="demo" class="collapse">
                                   <h2>Masters:</h2>
                                   <label>College:</label><p>University of north carolina charlotte</p>
                                    <label>City/State:</label><p>Charlotte-NC</p>  
                                    <label>Degree:</label><p>Masters in electrical Engineering</p>
                                    <label>Related courses:</label><p>Algorithms and data Structures</p>  
                                    <label>years:</label><p>2013-2015</p>  
                                      
                                    <h2>Bachelors</h2>
                                      <label>College:</label><p>Heritage Institute of Technology</p>
                                      <label>City:</label><p>Kolkata-West Bengal</p>  
                                     <label>Degree:</label><p>Bachelors in Applied Electronics and Instrumentation</p>
                                      
                                 </div> 
                             </li>
                         <li class="list-group-item" data-toggle="collapse" data-target="#tech">
                            <p>Technical Skills</p>
                             <div id="tech" class="collapse">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th>Programming languages</th>
                                           <th>Web technologies</th> 
                                            <th>IDE'S</th>
                                            <th>Database</th>
                                            <th>Version Control</th>
                                            <th>Package managers/tasks runners</th>
                                        </tr>
                                       <thead>     
                                         <tbody>
                                             <tr>
                                                 <td>
                                                    <li>Javascript</li>
                                                     <li>C</li>
                                                     <li>C#</li>
                                                     <li>Java</li>
                                                 </td>
                                                 
                                                 <td>
                                                    <li>AngularJs</li>
                                                     <li>ReactJs</li>
                                                     <li>D3.js</li>
                                                     <li>Restful Web services</li>
                                                     <li>Asp.net MVC</li>
                                                     <li>jQuery</li>
                                                     <li>jQueryUi</li>
                                                     <li>Bootstrap</li>
                                                     <li>Node.js</li>
                                                     <li>Express.js</li>
                                                     <li>Jasmine.js</li>
                                                     <li>JSON</li>
                                                     <li>Xml</li>
                                                     
                                                 </td>
                                                 <td>
                                                    <li>Sublime text</li>
                                                     <li>Brackets</li>
                                                     <li>Atom</li>
                                                     <li>Microsoft visual studio code</li>
                                                     <li>Eclipse</li>
                                                     <li>Intelli j</li>
                                                     <li>Cloud 9 io</li>
                                                 
                                                 </td>
                                                 <td>
                                                    <li>Oracle 11g</li>
                                                     <li>SQL</li>
                                                     <li>MongoDb</li>
                                                   
                                                 </td>
                                                 
                                                 <td>
                                                    <li>Git</li>
                                                     <li>TFS</li>
                                                 
                                                 </td>
                                                 
                                                 <td>
                                                   <li>Npm</li>
                                                     <li>Gulp</li>
                                                     <li>Bower</li>
                                                     <li>WebPack</li>
                                                     <li>Browserify</li>
                                                 
                                                 </td>
                                        
                                               </tr>
                                             
                                    
                                        </tbody>
                                  
                                 </table>
                             </div>
                             
                             </li>
                         <li class="list-group-item">Projects</li>

                         </ul>

                    </div>
                     
                </div>
               
           
     </body>
    
</html>

