<!doctype.html>
<html>
    <head>
    
       <title>About Me</title>
        <link href="../public/styling/style1.css" rel="stylesheet">
        
    </head>

    <body>
        <nav-directive></nav-directive>
          <div class="jumbotron">
             <h3>Hi,I am <span>Akash Gupta</span>,Lets Talk</h3>
           </div>
      <div id="mainSec">      
        <div class="container">
           <div class='row'>
              <div class="col-md-6" id="section1">
                  <img src="../images/actor_3.gif" class="p1_image">
                <div>
                  <p><span>Who am I?</span></p>
                   <p>My name is Akash and I am a highly motivated web developer who believes
                  in building apps that make a difference!</p>
                    
                  </div>
                  
                  <div>
                  <p><span>What kind of work do I do?</span></p>
                   <p>I am a self taught developer with 2 years of software developer industry expereince where i was exposed to technologies namely  C#,ASP.net,javascript,html and CSS and java.I have since then learned several in demand technologies such as angularJs,ReactJs,D3.js,bootstrap and jQuery.I have developed several small apps using these technlogies and am currently looking for an opportunity to showcase my skills on a bigger platform.
                      </p>
                    
                  </div>
                  
                   <div>
                  <p><span>How do I do my work?</span></p>
                   <p>There is no proven recipe for developing applications and everyone has their own approach when it comes to building web applications.I am a visual learner and I believe in coding while learning.This gives me a better understanding of the flow as well as the logic.When in the industry I always took care of design 
                       considerations such as scalability,reliability and maintainability before developing my app.I am strict devotee of the TDD approach as it is what drives the design of your application.Afterall,it is way easier to find a bug and fix it in few lines of code rather than an enormous dump!Following
                       industry best practices is also an innate part of software development and it essential in writing error free code.Most recently I have developed several small apps using angularJs,node.js ,react.js ,javascript,jQuery and bootstrap.All these apps were my personal ventures and were built from scratch.It may not seem a lot to a seasoned professional but it has increased my technical prowess tenfolds.In order to climb the mountain you start with small steps and you gradually become an expert.Each day I learn something new and try to build something related to it.Currently I am learning the Redux framework and am in the process of building a application using react and redux together.
                      </p>
                    
                  </div>
                  
                  <div>
                     <p><span>Where do I want to go next?</span></p>
                     <p>I want to steer myself toward a career in full stack web development.I am an ardent fan of javascript and I believe that for any front end web developer javascript and css are the most important component that  should they should focus on because frameworks and libraries are just wrappers for javascript code which are there to make your life easy,which can be learnt in a day if you are good at javascript.That said,any opportunity to work as a javascript developer would be more than welcoming.I want to see myself developing large scale apps for customers which have a global impact.Someday,I want to build a framework on my own which will take app developement to the next level.Impossible is nothing and for those who do not cease to persevere dreams do turn into reality.With this in mind ,I will continue to learn new technologies and develop apps until  someone recognizes my effort and decides to give me a chance to work for them.
                      </p>
                  
                  </div>
                  
                  <div>
                     <p><span>Who do I want to work with?</span></p>
                     <p>A very tricky question indeed!There is no right answer to this.I would only add that any company that enables me to showcase my talent,respects my effort and dilligence and provides me with a platform to grow as a developer would be an ideal company.As a  aficionado of movies  my long time desire has been to work for hollywood studios in their technology department as a full stack developer.For now,its only a dream and a pretty ridiculous one,given the fact that I am more concerned about meeting my favourite stars rather than web develpoment.Hopefully one day it will come true until then hardwork is my ally.</p>
                  </div>
                  
                  
                  
                 
                  
                  
                  
               </div>
               
               <div class="col-md-6" id="section2">
              
                   
                    <ul class="list-group">
                         <li class="list-group-item" data-toggle="collapse" data-target="#demo">
                             <img src="../images/education.png" class="techImage">
                             <span>Education</span>
                         
                                  <div id="demo">
                                   <h2>Masters:</h2>
                                   <label>College:</label><p>University of north carolina charlotte</p>
                                    <label>City/State:</label><p>Charlotte-NC</p>  
                                    <label>Degree:</label><p>Masters in electrical Engineering</p>
                                    <label>Related courses:</label><p>Algorithms and data Structures</p>  
                                    <label>years:</label><p>2013-2015</p>  
                                      
                                    <h2>Bachelors</h2>
                                      <label>College:</label><p>Heritage Institute of Technology</p>
                                      <label>City:</label><p>Kolkata-West Bengal</p>  
                                     <label>Degree:</label><p>Bachelors in Applied Electronics and Instrumentation</p>
                                      
                                 </div> 
                             </li>
                         <li class="list-group-item" data-toggle="collapse" data-target="#tech">
                            <img src="../images/Technical.png" class="techImage">
                            <span>Technical Skills</span>
                            
                             <div id="tech">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th>Programming languages</th>
                                           <th>Web technologies</th> 
                                            <th>IDE'S</th>
            
                                        </tr>
                                       <thead>     
                                         <tbody>
                                             <tr>
                                                 <td>
                                                    <li>Javascript</li>
                                                     <li>C</li>
                                                     <li>C#</li>
                                                     <li>Java</li>
                                                 </td>
                                                 
                                                 <td>
                                                    <li>AngularJs</li>
                                                     <li>ReactJs</li>
                                                     <li>D3.js</li>
                                                     <li>Restful Web services</li>
                                                     <li>Asp.net MVC</li>
                                                     <li>jQuery</li>
                                                     <li>jQueryUi</li>
                                                     <li>Bootstrap</li>
                                                     <li>Node.js</li>
                                                     <li>Express.js</li>
                                                     <li>Jasmine.js</li>
                                                     <li>JSON</li>
                                                     <li>Xml</li>
                                                     
                                                 </td>
                                                 <td>
                                                    <li>Sublime text</li>
                                                     <li>Brackets</li>
                                                     <li>Atom</li>
                                                     <li>Microsoft visual studio code</li>
                                                     <li>Eclipse</li>
                                                     <li>Intelli j</li>
                                                     <li>Cloud 9 io</li>
                                                 
                                                 </td>
                                        
                                               </tr>
                                             
                                    
                                        </tbody>
                                  
                                 </table>
                             </div>
                             
                             </li>
                         
                         </ul>
                   
                   
               </div>
            
            </div>
        
        </div>
        </div>      
       </body>
    
</html>

