<!doctype html>

<html>

  <head>
      <title>Portfolio page</title>
      <link href="../public/styling/style2.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
     <nav-directive></nav-directive>
        
        <div class="jumbotron">
           <h3>My Portfolio</h3>
        
         </div>
        
        <div id="projects">
           <div class="container-fluid">
            <!--main row-->
        <div class="row">
            <!--main row column1-->
            <div class="col-md-6"> 
               
                <!--main row column1 row 1-->
                
             <div class="row inner">  
                 <div class="col-sm-6 col-md-4">
                     
                      <div class="thumbnail">
                          <a href="https://protected-temple-23611.herokuapp.com/"><img src="../images/camping.png"></a>
                          <div class="caption">
                              <p>Yelp Campground</p>
                            
                          </div>
                     </div>
                   
                   </div>
                   
                    <div class="col-sm-6 col-md-4">
                        
                       <div class="thumbnail">
                         <img src="../images/skeleton.gif">
                          <div class="caption">
                            <p>Weather App</p>
                          </div>
                        </div>   
                   
                   </div>
                   
                   
                    <div class="col-sm-6 col-md-4">
                       <div class="thumbnail">
                            <img src="../images/mathGame.png">
                            <div class="caption">
                                <p>Math Quiz game</p>
                            </div>
                        </div>   
                             
                     </div>
                 
                </div>
                <!--end of mainrow column1 row1-->
                
                <div class="row inner" >
                    <div class="col-md-4">
                      <div class="thumbnail">            
                            <img src="../images/rgb.png">
                            <div class="caption">
                              <p>Rgb color picker game</p>
                            </div> 
                        </div>    
                    
                     </div>
                    
                    
                    <div class="col-md-4">
                        <div class="thumbnail">          
                            <img src="../images/drawingApp.png">
                            <div class="caption">
                              <p>Drawing app</p>
                            </div> 
                        </div>    
                    
                     </div>
                    
                     <div class="col-md-4">
                       <div class="thumbnail">   
                            <img src="../images/icon_logo3.png">
                            <div class="caption">
                              <p>Angular js template App</p>
                            </div>
                         </div>   
                    
                     </div>
                
                 </div>
                   <!--end of mainrow col1 row2-->
                
                 <div class="row inner">
                    <div class="col-md-4">
                         <div class="thumbnail">
                              <img src="../images/blog.png">
                               <div class="caption">
                                  <p>Blog App</p>

                                </div> 
                         </div>    

                     </div>
                     
                    <div class="col-md-4">
                         <div class='thumbnail'>
                              <img src="../images/todo.png">
                               <div class="caption">
                                  <p>To-Do-list App</p>

                                </div> 
                            </div>
                           
                     </div>
                     
                    <div class="col-md-4">
                         <div class="thumbnail">
                              <img src="../images/fullmetal.jpg">
                               <div class="caption">
                                  <p>Stopwatch App</p>

                                </div> 
                            </div> 
                           
                     </div>
                
                
                  </div>
                
                <!--end of mainrow column1 row3-->
                
             
            </div>
            
            
              <!--main row column 2-->
            
                <div class="col-md-6">
                    
                     <ul class="list-group">
                         <li class="list-group-item" data-toggle="collapse" data-target="#demo">
                            <img src="../images/caret.png" class="caret">
                             <span>Education</span>
                              <img src="../images/education.png" class="techImage">
                         
                                  <div id="demo" class="collapse">
                                   <h2>Masters:</h2>
                                   <label>College:</label><p>University of north carolina charlotte</p>
                                    <label>City/State:</label><p>Charlotte-NC</p>  
                                    <label>Degree:</label><p>Masters in electrical Engineering</p>
                                    <label>Related courses:</label><p>Algorithms and data Structures</p>  
                                    <label>years:</label><p>2013-2015</p>  
                                      
                                    <h2>Bachelors</h2>
                                      <label>College:</label><p>Heritage Institute of Technology</p>
                                      <label>City:</label><p>Kolkata-West Bengal</p>  
                                     <label>Degree:</label><p>Bachelors in Applied Electronics and Instrumentation</p>
                                      
                                 </div> 
                             </li>
                         
                         <li class="list-group-item" data-toggle="collapse" data-target="#tech">
                           <img src="../images/caret.png" class="caret">
                            <span>Technical Skills</span>
                               <img src="../images/Technical.png" class="techImage">
                            
                             <div id="tech" class="collapse">
                                <table class="table">
                                    <thead>
                                        <tr>
                                          <th>Programming languages</th>
                                           <th>Web technologies</th> 
                                            <th>IDE'S</th>
            
                                        </tr>
                                       <thead>     
                                         <tbody>
                                             <tr>
                                                 <td>
                                                    <li>Javascript</li>
                                                     <li>C</li>
                                                     <li>C#</li>
                                                     <li>Java</li>
                                                 </td>
                                                 
                                                 <td>
                                                    <li>AngularJs</li>
                                                     <li>ReactJs</li>
                                                     <li>D3.js</li>
                                                     <li>Restful Web services</li>
                                                     <li>Asp.net MVC</li>
                                                     <li>jQuery</li>
                                                     <li>jQueryUi</li>
                                                     <li>Bootstrap</li>
                                                     <li>Node.js</li>
                                                     <li>Express.js</li>
                                                     <li>Jasmine.js</li>
                                                     <li>JSON</li>
                                                     <li>Xml</li>
                                                     
                                                 </td>
                                                 <td>
                                                    <li>Sublime text</li>
                                                     <li>Brackets</li>
                                                     <li>Atom</li>
                                                     <li>Microsoft visual studio code</li>
                                                     <li>Eclipse</li>
                                                     <li>Intelli j</li>
                                                     <li>Cloud 9 io</li>
                                                 
                                                 </td>
                                        
                                               </tr>
                                             
                                    
                                        </tbody>
                                  
                                   </table>
                             </div>
                             
                         </li>
                         
                         <li class="list-group-item" data-toggle="collapse" data-target="#work">
                              <img src="../images/caret.png" class="caret">
                              <span>Work Experience</span>
                             <img src="../images/work2.png" class="techImage">
                              <div id="work" class="collapse">
                                  <label>Company:</label>
                                   <p>Infosys Limited</p>
                                  <label>Title:</label>
                                  <p>Systems Engineer</p>
                                  <label>Project:</label>
                                  <p>Southern California Edison</p>
                                  <label>Years:</label>
                                  <p>2011-2013</p>
                                  <label>Role:</label>
                                   <ul>
                                       <li><p>Developed a profile management system for internal employees using Angular.js,html and CSS</p></li>
                                       
                                       <li><p>Developed and designed UI for bill payment and power outage modules</p></li>
                                       
                                       <li><p>Created web services in C# for end to end communication bewteen layers</p></li>
                                       
                                       <li><p>Created test cases and performed unit testing in accordance with TDD architecture</p></li>
                                        
                                       <li><p>Increased front end efficiency by reducing page load time by 15% using page load optimization techniques</p></li>
                                       
                                       <li><p>Ensured cross browser compatibility of application across different browser environments</p></li>
                                       
                                       <li><p>Created responsive web pages using css3 media queries</p></li>
                                       
                                       <li><p>Worked under the agile development life cycle implementing the scrum structure in project development</p></li>
                                    </ul>
                             
                             
                               </div>
                         
                         </li>
                        
                         
                    </ul>
            
                 </div>
                   
        </div>
               
             
            
             </div>
        
        
         </div>
        
        <footer-directive></footer-directive>
        
    </body>

</html>