<!doctype html>

<html>

  <head>
      <title>Portfolio page</title>
      <link href="../public/styling/style2.css" rel="stylesheet">
    </head>
    <body>
     <nav-directive></nav-directive>
        
        <div id="projects">
           <div class="container-fluid">
            <!--main row-->
        <div class="row">
            <!--main row column1-->
            <div class="col-md-6"> 
               
                <!--main row column1 row 1-->
                
             <div class="row inner">  
                 <div class="col-sm-6 col-md-4">
                     
                      <div class="thumbnail">
                          <a href="https://protected-temple-23611.herokuapp.com/"><img src="../images/camping.png"></a>
                          <div class="caption">
                              <p>Yelp Campground</p>
                            
                          </div>
                     </div>
                   
                   </div>
                   
                    <div class="col-sm-6 col-md-4">
                        
                       <div class="thumbnail">
                         <img src="../images/skeleton.gif">
                          <div class="caption">
                            <p>Weather App</p>
                          </div>
                        </div>   
                   
                   </div>
                   
                   
                    <div class="col-sm-6 col-md-4">
                       <div class="thumbnail">
                            <img src="../images/mathGame.png">
                            <div class="caption">
                                <p>Math Quiz game</p>
                            </div>
                        </div>   
                             
                     </div>
                 
                </div>
                <!--end of mainrow column1 row1-->
                
                <div class="row inner" >
                    <div class="col-md-4">
                      <div class="thumbnail">            
                            <img src="../images/rgb.png">
                            <div class="caption">
                              <p>Rgb color picker game</p>
                            </div> 
                        </div>    
                    
                     </div>
                    
                    
                    <div class="col-md-4">
                        <div class="thumbnail">          
                            <img src="../images/drawingApp.png">
                            <div class="caption">
                              <p>Drawing app</p>
                            </div> 
                        </div>    
                    
                     </div>
                    
                     <div class="col-md-4">
                       <div class="thumbnail">   
                            <img src="../images/icon_logo3.png">
                            <div class="caption">
                              <p>Angular js template App</p>
                            </div>
                         </div>   
                    
                     </div>
                
                 </div>
                   <!--end of mainrow col1 row2-->
                
                 <div class="row inner">
                    <div class="col-md-4">
                         <div class="thumbnail">
                              <img src="../images/blog.png">
                               <div class="caption">
                                  <p>Blog App</p>

                                </div> 
                         </div>    

                     </div>
                     
                    <div class="col-md-4">
                         <div class='thumbnail'>
                              <img src="../images/todo.png">
                               <div class="caption">
                                  <p>To-Do-list App</p>

                                </div> 
                            </div>
                           
                     </div>
                     
                    <div class="col-md-4">
                         <div class="thumbnail">
                              <img src="../images/fullmetal.jpg">
                               <div class="caption">
                                  <p>Stopwatch App</p>

                                </div> 
                            </div> 
                           
                     </div>
                
                
                  </div>
                
                <!--end of mainrow column1 row3-->
                
             
            </div>
            
            
              <!--main row column 2-->
            
                <div class="col-md-6">
                    
                    
            
                 </div>
                   
        </div>
               
             
            
             </div>
        
        
         </div>
        
    </body>

</html>