body{
    background:#fff;

}
.navbar-inverse{
	background:rgba(0,0,0,1);
}
.nav li:hover{
    background:grey;
}

.jumbotron{
    font-size:15px;
    color:black;
    padding:0;    
}
span{
    color:#0066cc;
    font-size:25px;
    font-style:italic;
}

#mainSec{
    margin-top:100px;
/*    text-align:center;*/
    font-weight:bold;
}
.p1_image{
    height:170px;
}
.col-md-6{
/*    border:1px solid black;*/
}

.techImage{
    height:25px;
    margin-right:10px;
}
li{
    list-style-type:none;
}
label{
    color:orange;
}
table th{
    color:coral;
}
